/*  
==============================================
FONTS IMPORTADAS
==============================================
*/

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: local('AktivGroteskCorp-Bold'),
        url('../fonts/AktivGroteskCorp-Bold.woff2') format('woff2'),
        url('../fonts/AktivGroteskCorp-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: local('AktivGroteskCorp-Medium'),
        url('../fonts/AktivGroteskCorp-Medium.woff2') format('woff2'),
        url('../fonts/AktivGroteskCorp-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: local('AktivGroteskCorp-Regular'),
        url('../fonts/AktivGroteskCorp-Regular.woff2') format('woff2'),
        url('../fonts/AktivGroteskCorp-Regular.woff') format('woff'),;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: local('AktivGroteskCorp-Light'),
        url('../fonts/AktivGroteskCorp-Light.woff2') format('woff2'),
        url('../fonts/AktivGroteskCorp-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile Extended';
    src: local('Eurostile Extended'), local('EurostileExtended-Roman'),
        url('../fonts/EurostileExtended-Roman.woff2') format('woff2'),
        url('../fonts/EurostileExtended-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*  
==============================================
STYLE PADRÃO
==============================================
*/

body{
    color: #fff;
    background: #09090A;
    font-family: 'Aktiv Grotesk Corp', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a{
    font-family: 'Aktiv Grotesk Corp', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.section{
    padding: 60px 0;
}

.section-white{
    background: #fff;
    padding: 60px 0;
}

.ca-subtitle {
    color: #D11241;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.ca-title {
    font-size: 32px;
    font-family: 'Eurostile Extended';
    font-weight: 400;
    line-height: 41px;
}

.ca-title--black{
    color: #111214;
}

img{
    width: 100%;
}

.line{
    padding: 20px 0;
}

.grid-4 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

figure{
    margin: 0;
    padding: 0;
    display: flex;
}

/*  
==============================================
HEADER
==============================================
*/

.ca-header{
    position: absolute;
    z-index: 1;
    padding: 10px 0;
    background: rgb(9,9,10);
    background: linear-gradient(180deg, rgba(9,9,10,1) 11%, rgba(255,255,255,0) 100%);
    width: 100%;
}

.ca-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ca-header-navbar {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.ca-navbar-list {
    display: flex;
    column-gap: 20px;
    list-style: none;
}

.ca-navbar-item {
    padding: 0 14px;
}

.ca-navbar-link {
    font-size: 15px;
    font-weight: 500;
}

.ca-navbar-button {
    color: #ED2C5B;
    font-weight: 600;
    border: 1px solid #ED2C5B;
    border-radius: 2px;
    padding: 15px 20px;
}

.icon-arrow-right{
    width: auto;
}

/*  
==============================================
BANNER PRINCIPAL
==============================================
*/

.section-banner-video {
    position: relative;
    height: 910px;
    overflow: hidden;
    top: 0;
    width: 100%;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.ca-banner-wrapper {
    position: relative;
    z-index: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgb(9,9,10);
    background: linear-gradient(264deg, rgba(9,9,10,1) 0%, rgba(9,9,10,0.66) 27%, rgba(255,255,255,0) 100%);
}

.ca-banner-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.ca-social-media {
    display: flex;
    justify-content: center;
    column-gap: 22px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ca-banner-slide {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ca-slide-content-item {
    font-family: 'Eurostile Extended';
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 110px;

}

.ca-slide-small {
    width: 600px;
}

.ca-slide-small-wrapper {
    display: flex;
    align-items: start;
}

.ca-slider-small-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.ca-slider-small-line{
    margin-left: -40px;
}

.ca-slider-small-title {
    font-size: 16px;
    font-weight: 500;
    color: #D11241;
    padding-bottom: 12px;
}

.ca-slider-smal-text {
    margin-bottom: -19px;
    font-size: 16px;
}

.ca-slider-small-btn {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #CBCDD0;
    font-size: 12px;
    column-gap: 6px;
    padding: 10px 0;
}


/*  
==============================================
SEÇÃO TRAILS
==============================================
*/

.section-trails{
    background-image: url('../images/backgond.png');
    background-position: center;
    position: relative;
    padding: 60 0;
}

.ca-trails-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ca-trails-column-4{
    width: 500px;
}

.ca-trails-column-8{
    width: 580px;
}

.ca-trails-text {
    width: 100%;
    margin: 0;
    line-height: 25px;
    color: #CBCDD0;
}


/*  
==============================================
SEÇÃO JOURNEY
==============================================
*/

.ca-journey-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ca-journey-column{
    width: 500px;
}

.btn-big{
    width: auto;
}

.ca-journey-column--rigth{
    text-align: right;
}

.ca-journey-wrapper {
    padding: 70px 0;
}

.ca-journey-carousel {
    padding: 50px 0;
}


/*  
==============================================
SEÇÃO DEPOSITIONS
==============================================
*/

.ca-depositions-column-4{
    width: 500px;
}